<h1 style="color: white; text-align: center;">Transation History Page</h1>
<table >
    <thead>
        <tr>
            <th class="title">Sl.No.</th>
            <th class="title">Amount</th>
            <th class="title">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions; let i=index;">
            <th>{{i+1}}</th>
            <th>{{transaction.amount}}</th>
            <th>{{transaction.type}}</th>
        </tr>

    </tbody>
</table>
<br>
<a class="Home" routerLink="/dashboard">Home</a>

